<h1>Admin Dashboard</h1>
<table class="table">
<tr>
<th 
<td><%= @product_count %></td>
<td><%= @category_count %></td>
 </tr>
 </table>



 <table class="table">
  <thead>
    <tr>
      <th scope="col">Total Products</th>
      <th scope="col">Total Categories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <a href="/admin/products"> <%= @product_count %> </a> </td>
      <td> <a href="/admin/products"> <%= @category_count %> </a> </td>
    </tr>
  </tbody>
</table>